<div class="videoView">
    <ng-youtube-embed
            video="videoId"
            width="100%"
            height="400px"
            color="white"
            videoid="{{videoId}}"
            enablejsapi="true"
            onstatechange="stateChanged"
    >
    </ng-youtube-embed>
    <br/>
    <div class="btnC">
        <button class="btn btn-primary" ng-click="playVideo()">Play video</button>
        <button class="btn btn-info" ng-click="showVideoInfo()">Show video info</button>
    </div>

</div>

